.navbar {
  background: rgba(255, 69, 0, .9) !important;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  padding: 0;
  font-size: 1.7em;
}

select {
  font-family: 'FontAwesome', 'Second Font name';
}

#search {
  padding: .75em;
}

.sort-by {
  margin-left: 2px;
  margin-right: 2em;
  display: inline-block !important;
}

.sort-by, .limit {
  font-size: .85em;
}

#sortBy, #limit {
  width: 75px;
  padding: 0 0 0 5px;
  height: 30px;
  font-size: .85em;
  border-radius: 0;
}

#sortBy {
  word-spacing: 2px;
}

.submit {
  width: 100%;
}

.read-more {
  padding: 0 .3em .1em .3em;
  font-size: .85em;
  background: rgba(255, 69, 0, .8) !important;
  border: none;
}

.read-more:hover {
  background: rgba(255, 69, 0, .8) !important;
  text-decoration: underline;
}

.subreddit{
  background: rgba(255, 69, 0, .2);
  padding: 5px 6px;
  border-radius: 5px;
  margin: 0 2px 0 0;
}

.score {
  background: rgba(0,0,0,.1);
  margin: 7px 2px 0 0;
  padding: 5px 6px;
}

.score span, .subreddit span {
  color: rgba(0,0,0,.5);
}

.img-container {
  text-align: center;
}

.reddit-img {
  margin: 1em 0 0 0;
  width: 30%;
  text-align: center;
}

.title {
  font-size: 1.1em;
}

.self-text {
  font-size: .85em;
}

@media (max-width: 450px) {
  .sort-by, select, .limit {
    font-size: .75em !important;
    margin-left: 1px !important;
    margin-right: 0px;
  }

  #sortBy, #limit {
    padding: 0 0 0 2px;
    height: 27px;
    border-radius: 0;
    width: 65px;
    margin-left: 0 !important;
  }

  .read-more {
    padding: 0.2em .3em 0 .3em !important;
    font-size: .85em;
    background: rgba(255, 69, 0, .8) !important;
    border: none;
  }

}
