.navbar {
  background: rgba(255, 69, 0, .9) !important;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.25);

}

.navbar-brand {
  font-family: 'Lobster', cursive;
  padding: 0;
  font-size: 1.7em;
}

select {
  font-family: 'FontAwesome', 'Second Font name';
}

#search {
  padding: .75em;
}

#search-input {
  border-radius: 3px;
}

.form-check-inline {
  margin-right: .4em;
}

.sort-by-container {
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,.2);
  margin-right: .5em;
  padding-right: .8em;
}

.sort-by {
  margin-left: 4px;
  display: inline-block !important;
}

.limit {
  padding-right: .4em;
}

.sort-by, .limit {
  font-size: .9em;
}

#sortBy, #limit {
  width: 55px;
  padding: 0 0 0 3px;
  height: 28px;
  font-size: .85em;
  border-radius: 3px;
}

#sortBy {
  word-spacing: 2px;
}

.read-more-arrow {
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  color: rgba(0,0,0,.6);
}

.submit {
  width: 100%;
  border-radius: 3px;
}

.read-more {
  font-size: .85em;
  border: none;
  color: rgba(0,0,0,.6);
  margin-left: 2px;
  margin-right: 5px;
  display: inline-block;
}

.read-more:hover {
  color: #000;
  text-decoration: underline;
}

.subreddit{
  background: rgba(255, 69, 0, .2);
  padding: 5px 6px;
  border-radius: 5px;
  margin: 0 2px 0 0;
  font-weight: 600;
}

.score {
  background: rgba(0,0,0,.1);
  margin: 7px 2px 0 0;
  padding: 5px 6px;
}

.comments {
  background: rgba(0,100,255, .15);
  padding: 5px 6px;
  margin: 7px 2px 0 0;
}

.score span, .comments span {
  color: rgba(0,0,0,.5);
}

 .subreddit span {
   color: rgba(0,0,0,.6);
 }

.img-container {
  text-align: center;
}

.reddit-img {
  margin: 1em 0 0 0;
  width: 30%;
  text-align: center;
}

.title {
  font-size: 1.1em;
}

.self-text {
  font-size: .85em;
}

@media (max-width: 450px) {
  .sort-by, select, .limit {
    font-size: .85em !important;
    margin-left: 1px !important;
    margin-right: 0px;
  }

  #sortBy, #limit {
    padding: 0 0 0 2px;
    height: 27px;
    width: 55px;
    margin-left: 0 !important;
  }

  .read-more {
    font-size: .85em;
  }

}

@media (max-width: 385px) {
  .sort-by-container {
    display: block;
    border: 0;
    margin-bottom: .75em;
  }

}
